.p {
  position: relative;
  width: 30%;
  height: 40vh;
  margin: 20px 10px;
  border: 2px solid rgb(243, 242, 242);
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.p-browser {
  position: sticky;
  height: 20px;
  background-color: #c2a83e;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 3;
}

.p-circle {
  width: 6px;
  height: 6px;
  border-radius: 50px;
  margin: 3px;
  background-color: white;
}

.img-a {
  position: relative;
}
.p-image {
  width: 100%;
  transition: all 10s ease;
  position: relative;
  z-index: 2;
}

.p:hover .p-image {
  transform: translateY(-100%);
}

.img-text {
  position: absolute;
  top: 35%;
  width: 80%;
}

@media screen and (max-width: 480px) {
  .p {
    width: 42%;
    height: 20vh;
    border-radius: 10px;
  }

  .img-text {
    display: none;
  }

  .p-image {
    height: 100%;
  }
}
